@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateRole</h2>

@Html.ActionLink("Back to List", "RoleList", "Role", new {@class="btn btn-primary"})

@using (Html.BeginForm("CreateRole","Role"))
            {
                <div class="form-group">
                    @Html.LabelFor(a => a.Name)
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a=>a.Name) 
                </div>
                <input type="submit" class="btn-outline-primary btn mt-4" value="Save">
            }

