@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        87 , Kumbhare Colony , kamptee<br />
        Nagpur, Maharashtra, 441002 <br />
        <abbr title="Phone">P:</abbr>
        7066501610
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:RMSupport@gmail.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:RMMarketing@example.com">Marketing@example.com</a>
    </address>
</main>