



<ul class="navbar-nav me-auto">
    <li>@Html.ActionLink("Home", "Index", "UserHome", new { area = "" }, new { @class = "nav-link" })</li>
    <li class="dropdown">
        <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" id="navbarDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Menu</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>@Html.ActionLink("Product Master", "ProductList", "Product",null, new { @class = "dropdown-item" })</li>
            <li>@Html.ActionLink("Customers ", "CustomerList", "Customer", null, new { @class = "dropdown-item" })</li>
        </ul>
    </li>
</ul>

